@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Justin Aybar 
   Date: 10.25.18 

   Filename: pcg_paper.css
   Supporting Files: 

*/